@model List<MusicForum.Models.Discussion> 


@{
	ViewData["Title"] = "Home page";
}

<h1>Dylan's Music Forum'</h1>

@foreach(var item in Model) {

	<p>
		@item.DiscussionId<br />
		@item.Content<br />
		@item.CreateDate<br />
		@item.ImageFileName<br />


	</p>

	<p>item</p>
}