@model IEnumerable<MusicForum.Models.Discussion>

@{
    ViewData["Title"] = "Home page";
}

<h1 class="fw-bold">Dylan's Music Forum</h1>

<div class="mb-4">
    The internet's best music discussion forum <br />
    Powered by music nerds everywhere
</div>

<div class="masonry-grid">
    @foreach (var discussion in Model)
    {
        string imageUrl = Url.Content("/photos/" + discussion.ImageFileName);

        <div class="discussion-preview">

            <a href="@Url.Action("DiscussionDetails", "Home", new { id = discussion.DiscussionId })">
                <img src="@imageUrl" class="img-fluid" alt="@discussion.Title" />
            </a>

            <div class="discussion-title">
                <h3>@Html.DisplayFor(modelItem => discussion.Title)</h3>
            </div>
        </div>
    }
</div>