@model MusicForum.Models.Discussion

@{
    ViewData["Title"] = "Create";
}

<h1>Create new Thread</h1>


<hr />
<div class="discussion-row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="discussion-title"></label><br />
                <input asp-for="Title" class="mb-3" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="discussion-title"></label><br />
                <input asp-for="Content" class="comment-box" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            
            <div class="mb-5">
                <label asp-for="ImageFile" class="discussion-title"></label><br />
                <input type="file" asp-for="ImageFile" class="discussion-content" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <input type="submit" value="Create" class="create-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
