@model MusicForum.Models.Discussion

@{
    
}

<h1 class="home-header">@ViewData["Title"]</h1>

<div class="discussion-container">
    <div class="authentication-row">
        <section class="comments-section">
            <form asp-action="Edit">
                <h2 class="discussion-title">Edit Discussion Details</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DiscussionId" />
                <input type="hidden" asp-for="ImageFileName" />
                <input type="hidden" asp-for="CreateDate" />
                <input type="hidden" asp-for="ApplicationUserId" />

                <div class="form-floating mb-3">
                    <input asp-for="Title" class="form-control form-thumbnail" placeholder="Enter title" />
                    <label asp-for="Title" class="form-label">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <textarea asp-for="Content" class="form-control form-thumbnail" rows="5" style="min-height: 120px; min-width: 100%;" placeholder="Enter content"></textarea>
                    <label asp-for="Content" class="form-label">Content</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="file" asp-for="ImageFile" class="form-control form-thumbnail" />
                    <label asp-for="ImageFile" class="form-label">Image File</label>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="create-button button">Save</button>
                </div>
                <hr />
            </form>
        </section>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
