@model MusicForum.Models.Discussion

@{
    ViewData["Title"] = "Edit";
}

<h1 class="home-header">RPM</h1>

<h4 class="discussion-title">Edit Discussion Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiscussionId" />
            <input type="hidden" asp-for="ImageFileName" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="ApplicationUserId" />

            <div class="mb-3">
                <div class="mt-4">
                    <label asp-for="Title" class="comment"></label>
                </div>
                <input asp-for="Title" class="comment" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="comment"></label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>

                
            </div>
            

            <div class="mb-3">
                <label asp-for="ImageFile" class="comment"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="b" />
            </div>
            <hr />
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
