@model MusicForum.Models.Comment

@{
    
}

<h1 class="home-header">@ViewData["Title"]</h1>

<div class="discussion-container" style="background-color: cornflowerblue; max-width: 80%; margin: 0 auto; border: 2px solid black;">

    <div class="back-icon-container" style="margin-bottom: 20px;">
        <a asp-action="Discussions" asp-route-id="@ViewBag.DiscussionId" class="back-icon-link" style="text-decoration: none; color: black; display: flex; align-items: center; font-size: 18px;">
            <i class="fas fa-arrow-left" style="margin-right: 8px;"></i> Back to List
        </a>
    </div>

    <section class="comments-section" style="display: flex; justify-content: center; align-items: center;">
        <form asp-action="Create" method="post">
            <h2 class="discussion-title">Create a New Comment</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            
            <input type="hidden" asp-for="DiscussionId" value="@ViewData["DiscussionId"]" />

            <div class="form-floating mb-3" style="text-align: center;">
                <textarea asp-for="Content" class="form-control form-thumbnail" style="display: block;  max-width: 900px; margin: 0 auto; height: 150px;" placeholder="Enter your comment"></textarea>
                <label asp-for="Content">Comment</label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}