@page
@model LoginModel

@{
    
}

<h1 class="home-header">@ViewData["Title"]</h1> 

<div class="discussion-container" style="background-color: cornflowerblue; max-width: 80%; margin: 0 auto; border: 2px solid black;">
    <div class="back-icon-container" style="margin-bottom: 5px;">
        <a asp-action="Index" class="back-icon-link" style="text-decoration: none; color: black; display: flex; align-items: center; font-size: 18px;">
            <i class="fas fa-arrow-left" style="margin-right: 8px;"></i> Back to List
        </a>
    </div>
    <div class="authentication-row">
        <section class="comments-section">
            <form id="account" method="post">
                <h2 class="discussion-title">Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;">
                    <input asp-for="Input.Email" class="form-control form-thumbnail" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control form-thumbnail" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Remember Me
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="create-button button">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
