@page
@model RegisterModel
@{

}

<h1 class="home-header">@ViewData["Title"]</h1>

<div class="discussion-container">
    <div class="discussion-row">
        <section class="comments-section">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="discussion-title">Create a new account</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3" style="text-align: center;">
                    <input asp-for="Input.Name" class="form-control form-thumbnail" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;" aria-required="true" placeholder="Name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3" style="text-align: center;">
                    <input asp-for="Input.FavouriteAlbum" class="form-control form-thumbnail" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;" aria-required="true" placeholder="Favourite Album" />
                    <label asp-for="Input.FavouriteAlbum">Favourite Album</label>
                    <span asp-validation-for="Input.FavouriteAlbum" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3" style="text-align: center;">
                    <input asp-for="Input.Location" class="form-control form-thumbnail" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;" aria-required="true" placeholder="Location" />
                    <label asp-for="Input.Location">Location</label>
                    <span asp-validation-for="Input.Location" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3" style="text-align: center;">
                    <input asp-for="Input.Email" class="form-control form-thumbnail" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3" style="text-align: center;">
                    <input asp-for="Input.Password" class="form-control form-thumbnail" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3" style="text-align: center;">
                    <input asp-for="Input.ConfirmPassword" class="form-control form-thumbnail" style="display: block; width: 100%; max-width: 600px; margin: 0 auto;" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="create-button">Register</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
