.navbar {
    background-color: dodgerblue;
}

.home-header {
    font-family:'Bookman Old Style';
    font-size: 100px;
}

.thumbnail {
    max-width: 300px;
    height: auto;
    margin-right: 15px;
}

.form-thumbnail {
    max-height: 150px;
    max-width: 150px;
}

.create-button {
    background-color: #FF0000; 
    color: #F8F8FF; 
    font-family: 'SimSun', sans-serif; 
    padding: 10px 20px;
    border-radius: 50px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.discussion-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

    .discussion-row img {
        flex-shrink: 0;
    }

.discussion-content {
    flex-grow: 1;
    font-size: 14px;
    font-family: MingLiU_HKSCS-ExtB;
    flex-direction: column;
    margin-left: 15px;
}

.discussion-title {
    font-size: 22px;
    font-weight: bold;
    font-family: SimSun-ExtG;
    margin-bottom: 5px;
}

.discussion-created {
    font-size: 12px;
    font-weight: 100;
    font-family: NSimSun;
}

.comment {
    font-size: 14px;
    color: #666;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.comments-title {

}

.comment-box {
    height: 150px; 
    width: 350px;
}

.section {
    margin-bottom: 30px; 
}


.main-content {
    
    flex: 1;
    overflow: auto;
    padding-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: red;
    align-content: center;
}

.footer-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    line-height: 60px;
}

@media (max-width: 768px) {
    .discussion-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .thumbnail {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
